<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1><u><a th:href="@{|/|}">Benny`s Shop</a></u></h1>
        </div>
        <div class="col-sm">
            <h1 style="float:right"><u><a th:href="@{|/more-filters|}">More >></a></u></h1>
        </div>
    </div>
</div>

<table class="table table-hover">
    <tr>
        <th><a th:href="@{|/filter-by-type/CLOTHES AND SHOES|}"><button class="btn btn-primary">CLOTHES AND SHOES</button></a></th>
        <th><a th:href="@{|/filter-by-type/ELECTRONICS|}"><button class="btn btn-primary">ELECTRONICS</button></a></th>
        <th><a th:href="@{|/filter-by-type/BEVERAGES AND SNACKS|}"><button class="btn btn-primary">BEVERAGES AND SNACKS</button></a></th>
        <th><a th:href="@{|/price-in-eur|}"><button type="submit" class="btn btn-primary">EURO</button></a></th>
        <th><a th:href="@{|/most-expensive|}"><button type="submit" class="btn btn-primary">ORIGINAL CURRENCY</button></a></th>
    </tr>
</table>

<form id="search" action="/filter-by-price" method="POST">
    <button type="submit" name="action" value="Above">Above</button>
    <button type="submit" name="action" value="Below">Below</button>
    <button type="submit" name="action" value="Exactly">Exactly</button>
    <label for="search">Filter by price: <br>
        <input type="search" placeholder="...e.g.: 300" name="givenPrice">
    </label>
</form>

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>

    <tr th:each="item:${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price} + ' CZK'"></td>
        <td th:text="${item.quantityOfStock}"></td>
    </tr>
</table>

</body>
</html>