<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<li><a th:href="@{'/submit'}">Submit new post</a></li><br>
<h1>Trending posts</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Votes</th>
        <th>Voting buttons</th>
        <th>Title</th>
        <th>URL</th>
    </tr>
    <tr th:each="post:${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.votes}"></td>
        <td>
            <form action="#" th:action="@{/like/} + ${post.id}" method="post">
                <button type="submit" th:field="${post.votes}">+</button>
            </form>
            <form action="#" th:action="@{/dislike/} + ${post.id}" method="post">
                <button type="submit" th:field="${post.votes}">-</button>
            </form>
        </td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.url}"></td>
    </tr>
</table>
</body>
</html>
