<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--    <link href="/custom.css" rel="stylesheet">-->
</head>
<body>

<div class="jumbotron">
    <h1 class="text-center">Welcome to our Website!</h1>
</div>
<p th:text="${text}"></p>


</body>
</html>