<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo CRUD App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Todos for today:</h1>
<li><a th:href="@{'/todo/add'}">Add new todo</a></li><br>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Urgent</th>
        <th>Done</th>
        <th>Remove todo</th>
        <th>Edit todo</th>
    </tr>
    <tr th:each="todo:${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.urgent}"></td>
        <td th:text="${todo.done}"></td>
        <td>
            <form action="#" th:action="@{/todo/delete/} + ${todo.id}" method="post">
                <input type="submit" value="Delete"/>
            </form>
        </td>
        <td >
            <a th:href="@{/todo/edit/} + ${todo.id}">Edit</a>
        </td>
    </tr>

</table>
</body>
</html>