<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fox</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<ul>
    <li><a th:href="@{'/?name=' + ${fox.name}}">Information</a></li><br>
    <li><a th:href="@{'/nutrition?name=' + ${fox.name}}">Nutrition Store</a></li><br>
    <li><a th:href="@{'/trickCenter?name=' + ${fox.name}}">Trick Center</a></li><br>
    <li><a th:href="@{'/actionHistory?name=' + ${fox.name}}">Action History</a></li><br>
</ul>
    <img src="/images/greenfox.png" alt="Fox">
    <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. He knows ' + ${fox.tricks.size()} + ' tricks.'"></p>
    <h1>Known tricks</h1>
    <p th:text="${fox.tricks.size() == 0} ? 'You know no tricks, yet. Go and learn some'"></p>
    <ul th:each="trick : ${fox.tricks}">
        <li th:text="${trick}"></li>
    </ul>
    <h1>Action History</h1>
    <p th:text="${fox.actionHistory.size() == 0} ? 'You have no actions, yet. Go and do some'"></p>
    <ul th:each="action : ${fox.get5LatestActions()}">
        <li th:text="${action}"></li>
    </ul>
</body>
</html>